h1{
    background-color: aquamarine;
    text-align: center;
    font-size: 3rem;
    border: solid ;
    border-color: black;
    
}
.div1{
    background-color: bisque;
}
.foot{
    background-color: red;
text-align: center;

}